@charset "utf-8";
/* CSS Document */

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding-top: 70px;
}

.text-center {
    text-align: center;
}

.col-md-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-offset-3 {
    margin-left: 25%;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.time_txt{
    font-weight:bold;
    font-size:110%;
}
.container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}

.container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
}

@media (min-width: 992px) {
    .col-md-6{
        float: left;}
    .col-md-6 {
        width: 50%;
    }

    .row:before,
    .row:after {
        display: table;
        content: " ";
    }
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
        background: white;
	}
}.center {
}
.titlebar {
}
.titlebar1 {
}
.titlebar2 {
}
.titlebar3 {
}





.navbar-default {
    background-color: #514e54;
    border-color: #0080ff;
}
.navbar-default .navbar-brand {
    color: #ff0000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ff0000;
}
.navbar-default .navbar-nav > li > a {
    color: #ff0000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #514e54;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ff0000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #0080ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #0080ff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0080ff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #0080ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #0080ff;
}
.navbar-default .navbar-toggle {
    border-color: #0080ff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0080ff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ff0000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ff0000;
}
.navbar-default .navbar-link {
    color: #ff0000;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ff0000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #0080ff;
    }
}




/*/hover效果遮罩/*/

.ul1 {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 1100px;
}

.ul1 .li1 {
    float: left;
    margin: 20px 25px;
}


.shape {
    width: 300px;
    height: 300px;
    position: relative;
}

.shape .overlay {
    display: block;
    width: 310px;
    height: 310px;
    position: absolute;
    top: -5px;
    left: -6px;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.6s;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 0.6s;
    transform: scale(1, 1);
    transition-timing-function: ease-out;
    transition-duration: 0.6s;
    z-index: 500;
    /* allow user to actually perform actions underneath this layer */
    pointer-events: none;
    background-repeat: no-repeat;
    outline: 0;
}

/* different shapes */

.shape .overlay.round {
    background: url(http://www.queness.com/resources/html/masking-images-with-shape/round.png);
}

.shape .overlay.hexagon {
    background: url(http://www.queness.com/resources/html/masking-images-with-shape/hexagon.png);
}

.shape .overlay.pentagon {
    background: url(http://www.queness.com/resources/html/masking-images-with-shape/pentagon.png);
}

/* hover effect */

.shape:hover .overlay {
    -webkit-transform: scale(1.07, 1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
    -moz-transform: scale(1.07, 1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 0.3s;
}


.shape:hover .bg {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    display: block;
}

.shape:hover .details {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    z-index: 450;
    display: block;
}



/* content styles */

.shape .bg,
.shape .details {
    position: absolute;
    width: 300px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: none;
}

.shape .bg {
    background: #4b5a78;
}

.shape .details span.heading {
    font-family: 'Roboto Condensed', serif;
    font-size: 30px;
    display: block;
    margin-top: 70px;
    color: #fff;
    text-decoration: none;
    cursor: crosshair;
}

.shape .details p {
    font-family: 'Abel', sans-serif;
    color: #fff;
    width: 70%;
    font-size: 14px;
    margin: 0 auto;
}

.shape a.button {
    padding: 5px 15px;
    font-family: 'Abel', sans-serif;
    font-size: 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    background: #2f3644;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 50px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

.shape a.button:hover {
    background: #fff;
    color: #2f3644;
}


/*footer紅*/
.footer_1{text-decoration:underline;color: #ba3b4d;word-spacing:2pt;font-family:arial, helvetica, sans-serif;
}
/**/